<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="WcfServiceLibrary.LibraryService">
        <endpoint address="net.tcp://localhost:8732/LibraryService/"
          binding="netTcpBinding" bindingConfiguration="" contract="WcfServiceLibrary.ILibraryService">
         
        </endpoint>
        <endpoint address="http://localhost:8734/LibraryService/mex"
          binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8732/LibraryService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8734/LibraryService/" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="LibraryEntity" connectionString="metadata=res://*/EntityLibrary.csdl|res://*/EntityLibrary.ssdl|res://*/EntityLibrary.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EPRUSARSA0006;Initial Catalog=Aleksey_Mynkov;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>